<!DOCTYPE html>
<html>
  <head>
    <title>home</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <h1>This is home page, you have logined!</h1>
    <a href="/logout">logout</a>
  </body>
</html>
