<!DOCTYPE html>
<html>
  <head>
    <title>login</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
  <form action="/login" method="post">
    <p>user name: <input type="text" name="userName"></p>
    <p>Password: <input type="password" name="password"></p>
    <p><input type="submit" value="login"></p>
  </form>
  </body>
</html>
