<!DOCTYPE html>
<html>
  <head>
    <title>home</title>
  </head>
  <body>
  <h1>Welcome <%= user.username %>! This is home page, you are login!</h1>
    <a href="/logout">logout</a>
  </body>
</html>
